*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

button {
  background-color: #46296c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #755c96;
}

button:active {
  background-color: #755c96;
  box-shadow: 0 0 0 4px rgb(140, 190, 255);
}

.start-container {
  text-align: center;
  padding: 33.3vw;
  padding-top: 0;
  padding-bottom: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.question-container {
  display: none;
  text-align: center;
}

.highscores-container{
  display: none;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30%;
  padding-right: auto;
}

.highscores-container-visible .wrapper {
  display: none;
}

#highscores {
  cursor: pointer;
  color: darkorchid;
}

#highscores:hover {
  text-decoration: underline;
  cursor: pointer;
  color: darkorchid;
}

@media (max-width: 1100px) {
  .start-container {
    font-size: 1rem;
    padding: 20vw;
    padding-top: 0;
    padding-bottom: 0;
  }

  .highscores-container {
    font-size: 1rem;
  }
}

@media (max-width: 690px) {
  .start-container {
    font-size: 1rem;
    padding: 10vw;
    padding-top: 0;
    padding-bottom: 0;
  }

  .highscores-container {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .start-container {
    font-size: 0.8rem;
    padding: 10vw;
    padding-top: 0;
    padding-bottom: 0;
  }
}
